body
{
    background-color:blue;
    font-family:arial;
}

.container{
    margin-top:10px;
    margin-bottom:50px;
    margin-right:50px;
    margin-left:50px;
    background-color:orange;
    padding:10px 10px 10px 10px;
}

.nav li{
    display:inline;
    margin-left:10px;
}

#pic{
    display: block;
    margin: 0 auto;
}